.projects-section {
  background-color: var(--bg-second);
  font-family: 'Merriweather', serif;
  padding: 50px;
  min-height: 90vh;
}

.projects-category {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 6px 0;
  padding: 10px;
  border-radius: 23px;
}

.projects-collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}