.projects-section {
  background-color: var(--bg-second);
  font-family: 'Merriweather', serif;
  padding: 50px;
  min-height: 90vh;
}

.projects-category {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 6px 0;
  padding: 10px;
  border-radius: 23px;
}

.projects-collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-card {
  flex: 1 0 21%;
  background-color: var(--bg-prime);
  max-width: 240px;
  min-height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  margin: 7px;
}

.projects-card-item {
  margin: 6px 0;
}

.projects-card-img{
  display: flex;
  align-items: center;
  min-height: 250px;
}

.projects-card-item img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 6px;
}

.projects-card-item .btn {
  background-color: white;
  color: black;
}

.projects-card-item .btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}