@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Merriweather', serif; */

:root {
    --bg-prime: rgb(255, 50, 81);
    --bg-second: rgb(255, 190, 200);
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

.text-center {
    text-align: center;
}

.btn {
    background-color: var(--bg-prime);
    padding: 4px 10px;
    border-radius: 23px;
    cursor: pointer;
    color: white;
    display: inline-block;
    box-shadow: 2px 2px black;
}

.btn:hover {
    background-color: rgb(255, 70, 98);
}